b {
  font-size: large;
}

body {
  animation-duration: 1s;
  animation-name: animateIn;
}

.title {
  color: rgb(14, 14, 73);
  text-align: center;
}

.img-div {
  display: flex;
  justify-content: center;
}

.separator {
  margin-top: 40px;
}

.main {
  padding: 50px;
}

.hero {
  width: 100%;
  text-align: center;
  border-radius: 2rem;
}

.hero:hover {
  animation-duration: 600ms;
  animation-name: moveUp;
}

@keyframes animateIn {
  from {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    width: 100%;
  }

  50% {
    width: 98%;
  }

  to {
    width: 100%;
  }
}
