b {
  font-size: large;
}

body {
  animation-duration: 1s;
  animation-name: animateIn;
}

.title {
  color: rgb(14, 14, 73);
  text-align: center;
  margin: 25px 0px 25px 0px;
}

.card-body {
  text-align: center;
}

.card-color {
  border-radius: 20px 20px 0rem 0rem;
}

.img-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.text-img {
  margin: 10px;
  color: #fff;
  animation: reveal 3s forwards;
}

.separator {
  margin-top: 50px;
}

.main {
  padding: 0px 80px 0px 80px;
}

.card {
  margin-top: 20px;
  width: 90%;
  height: 90%;
  border-radius: 20px;
}

.hero {
  width: 100%;
  text-align: center;
  border-radius: 2rem;
}

.hero:hover {
  animation: bounce 600ms;
}

@keyframes reveal {
  from {
    color: #fff;
  }

  50% {
    color: #fff;
  }

  to {
    color: rgb(97, 97, 97);
  }
}

@keyframes animateIn {
  from {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    width: 100%;
  }

  50% {
    width: 98%;
  }

  to {
    width: 100%;
  }
}
